<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database.Server" value="127.0.0.1" />
    <add key="Database.Port" value="3306" />
    <add key="Database.Name" value="cargo_transport_db" />
    <add key="Database.User" value="root" />
    <add key="Database.Password" value="root" />
    <add key="App.DefaultAdminUsername" value="admin" />
    <add key="App.DefaultAdminPassword" value="Admin123!" />
    <add key="App.DefaultAdminFullName" value="Системный администратор" />
  </appSettings>
</configuration>
